//- Custom Configuration
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = '../../'

doctype html

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  title Digital Pages
  meta(name='description', content= 'Digital books')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/main-frame.css')

body

  block content

  block scripts
    script(src="https://code.createjs.com/easeljs-0.8.1.min.js")
    script(src="https://code.createjs.com/tweenjs-0.6.1.min.js")
    script(src= 'assets/script/main.js')

</html>
