// Normalize Styles
@import node_modules/normalize.css/normalize

// Import Modules
@import ../_modules/link/link

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  background: #CCC

#ipad-wrapper
  width: 1100px
  height: 850px
  background: #000
  text-align: center
  border-radius: 30px
  margin: auto
  position: relative
  .container
    width: 1024px
    height: 768px
    position: absolute
    top: 41px
    left: 38px