// Normalize Styles
@import node_modules/normalize.css/normalize

// Import Modules
@import ../_modules/link/link

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

body
  background: #CCC

  iframe
    border: none
    width: 1024px
    height: 768px
  #nav-menu
    max-width: 1280px
    margin: auto
    padding: 10px
    height: 50px

    a
      display: block
      float: left
      padding: 10px
      text-decoration: none
      color: #FFF
      background: #000
      margin: 1px

  .main
    margin: auto
    max-width: 1280px
    padding: 10px
    #ipad-wrapper
      width: 1100px
      height: 850px
      background: #000
      text-align: center
      border-radius: 30px
      margin: auto
      position: relative
      .container
        width: 1024px
        height: 768px
        position: absolute
        top: 41px
        left: 38px
        background: #00

    #list
      float: left
      width: 100%
      .page
        float: left
        width: 100%
        padding: 10px 0
        border-top: 1px solid #000
        .left
          width: 20%
          float: left
          img
            width: 100%
            float: left
        .right
          width: 80%
          float: right
          .title
            margin: 10px
            float: left

    #nav
      list-style-type: none
      margin: 0
      padding: 0
      li
        float: left
        margin: 10px

    .button
      background: #000
      color: #FFF
      padding: 10px
      text-decoration: none