body {
	background: #CCC;
}

#ipad-wrapper {
	width: 1100px;
	height: 900px;
	background: #000;
	text-align: center;
	border-radius: 30px;
}

#ipad-wrapper .container {
	width: 1024px;
	height: 768px;
	margin: 82px auto 0 auto;
}