extends _layouts/base

include _modules/link/link

block content
  .main
    h1 Experiment
    h2 Static Digital Pages - Testing
    #list
      each val, index in site.data.pages
        .page
          .left
            a(href="page.html?page=" + val.thumb + "&index=" + val.index)
              img(src='images/' + val.thumb)
          .right
            .title=val.name
    //#ipad-wrapper
    //  .container
    //    img(src='images/01.jpg')
  //code.version v1.4.0
